# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment & Secrets
.env
config/
*.pem
*accessKeys.csv

# Databases
*.db

# Logs
*.log
activity_log.json

# Memory Files
memory.json